* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

/*HEADER*/
#heading {
    background-color: white;
    padding: 20 20;
}

.logo {
    width: 55px;
    vertical-align:middle;
    margin: 20px;
}

.logo-text {
    font-size: 40px ;
    font-weight: bold;
}
/*FINE HEADER*/
/*MAIN*/
.background {
    background-color: rgb(237, 237, 237);
    background-size:cover;
    padding-top: 60px;
    padding-bottom: 20px;
}

.pagina {
    background-color: white;
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2%;
}


.bottone {
    font-size: 12px;
    padding: 8px 18px;
    display: inline-block;
    margin-top:15px;
    margin-bottom: 15px;
    border-radius: 10px;

}

#bottone-blu {
    background-color: rgb(22, 161, 212);
    border: none;
    color: white;
    margin-left: 40px;
}

#bottone-bianco {
    background-color: white;
    color: lightgray;
    border-color: lightgrey;
}

hr {
    border-top: 3px solid rgb(237, 237, 237);
}
/*FINE MAIN*/