* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

/*HEADER*/
#heading {
    background-color: white;
    padding: 20px;
}

.logo {
    width: 55px;
    vertical-align:middle;
    margin: 20px;
}

.logo-text {
    font-size: 40px ;
    font-weight: bold;
    vertical-align:middle;
}
/*FINE HEADER*/
/*MAIN*/
.background {
    background-color: rgb(237, 237, 237);
    background-size:cover;
    padding-top: 60px;
    padding-bottom: 100px;
}

.pagina {
    background-color: white;
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2%;
}

.contenuto {
    margin-left: 40px;
}


.bottone {
    font-size: 12px;
    padding: 8px 18px;
    display: inline-block;
    margin-top:15px;
    margin-bottom: 15px;
    border-radius: 10px;

}

#bottone-blu {
    background-color: rgb(22, 161, 212);
    border: none;
    color: white;
}

#bottone-bianco {
    background-color: transparent;
    color: lightgray;
    border: 1px solid lightgrey;
}

hr {
    border-top: 3px solid rgb(237, 237, 237);
}

/*elenchi*/
.scritta-grande {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 30px;
}

.scritta-piccola {
    list-style-type: none;
    margin-top: 10px;
}

/*simboli*/
.yes {
    color:rgb(43, 206, 43);
    border:1px solid  rgb(43, 206, 43);
    border-radius: 50%;
    padding: 3px 6px;
    margin-right: 5px;
}

.no {
    border:1px solid  red;
    color:red;
    border-radius: 50%;
    padding: 3px 6px;
    margin-right: 5px;
}

/*lable*/
.lable-blu-base {
    background-color: rgb(22, 161, 212);
    border: none;
    color: white;
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 10px;
}

#viola {
    background-color: rgb(157, 53, 186);
}

#verde {
    background-color: rgb(81, 183, 81);
}

#arancio {
    background-color: orange;
}

#fucsia {
    background-color: rgb(180, 58, 180);
}

#cedro {
    background-color: rgb(184, 227, 119);
}

/*FINE MAIN*/